body {
  font-family: 'Segoe UI', sans-serif;
  background: url("https://i.scdn.co/image/ab67616d0000b273afd0dd58af8a7176713624e7")center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
 
  text-align: center;
  width: 300px;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  color: white;
}
